.html
{
	background-color: #F3EAFF;
}

#page
{
	z-index: 1;
	width: 937px;
	min-height: 802px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u1455-3
{
	z-index: 2;
	width: 1166px;
	min-height: 802px;
	margin-right: -10000px;
	left: -103px;
}

#u1363
{
	z-index: 5;
	width: 1160px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 93px;
	left: -100px;
}

#u1456
{
	z-index: 6;
	width: 1160px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 710px;
	left: -100px;
}

#u1448
{
	z-index: 7;
	width: 192px;
	margin-right: -10000px;
	left: 22px;
}

#u1458
{
	z-index: 9;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	margin-top: 698px;
	left: 31px;
}

#u1470
{
	z-index: 10;
	width: 69px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 698px;
	left: 133px;
}

#u1482
{
	z-index: 11;
	width: 69px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 698px;
	left: 237px;
}

#u1483
{
	z-index: 12;
	width: 68px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 698px;
	left: 342px;
}

#u1495
{
	z-index: 13;
	width: 71px;
	height: 82px;
	margin-right: -10000px;
	margin-top: 698px;
	left: 445px;
}

#u1458:hover,#u1470:hover,#u1482:hover,#u1483:hover,#u1495:hover
{
	margin: 698px -10000px 0px 0px;
}

#u1561
{
	z-index: 14;
	width: 216px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 722px;
}

#u3886
{
	z-index: 16;
	width: 776px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 286px;
}

#u3891-6
{
	z-index: 18;
	width: 535px;
	min-height: 39px;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 98px;
}

#menuu1381
{
	z-index: 24;
	width: 598px;
	margin-right: -10000px;
	margin-top: 102px;
	left: 15px;
}

#u1406
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1399
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 120px;
}

#u1423
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 240px;
}

#u1430
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 360px;
}

#u1437
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 480px;
}

#u1409,#u1400,#u1424,#u1431,#u1440
{
	width: 118px;
}

#u1410,#u1403,#u1427,#u1432,#u1441
{
	height: 24px;
	width: 118px;
	margin-right: -10000px;
}

#page .verticalspacer
{
	clear: both;
}

