.html
{
	background-color: #F3EAFF;
}

#page
{
	z-index: 1;
	width: 937px;
	min-height: 720px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1455-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -103px;
}

#u1455-3
{
	z-index: 2;
	width: 1166px;
	min-height: 802px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1363
{
	z-index: 5;
	width: 1160px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 3px;
}

#u1456
{
	z-index: 6;
	width: 1160px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 715px;
	left: 3px;
}

#u1448
{
	z-index: 7;
	width: 192px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 125px;
}

#u1458
{
	z-index: 9;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 135px;
}

#u1470
{
	z-index: 10;
	width: 69px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 237px;
}

#u1482
{
	z-index: 11;
	width: 69px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 341px;
}

#u1483
{
	z-index: 12;
	width: 68px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 445px;
}

#u1495
{
	z-index: 13;
	width: 71px;
	height: 82px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 549px;
}

#u1458:hover,#u1470:hover,#u1482:hover,#u1483:hover,#u1495:hover
{
	margin: 703px -10000px 0px 0px;
}

#u1561
{
	z-index: 14;
	width: 216px;
	margin-right: -10000px;
	left: 825px;
}

#u1454
{
	z-index: 16;
	width: 540px;
	height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 313px;
}

#u554-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 313px;
}

#menuu1381
{
	z-index: 24;
	width: 598px;
	margin-right: -10000px;
	margin-top: 107px;
	left: 118px;
}

#u1406
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1399
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 120px;
}

#u1423
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 240px;
}

#u1430
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 360px;
}

#u1437
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
	left: 480px;
}

#u1409,#u1400,#u1424,#u1431,#u1440
{
	width: 118px;
}

#u1410,#u1403,#u1427,#u1432,#u1441
{
	height: 24px;
	width: 118px;
	margin-right: -10000px;
}

#pu1529
{
	width: 0.01px;
	padding-bottom: 363px;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 116px;
}

#u1529
{
	z-index: 22;
	width: 188px;
	height: 361px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 0px 15px 15px 15px ;
	-webkit-border-radius: 0px 15px 15px 15px ;
	-khtml-border-radius: 0px 15px 15px 15px ;
	border-radius: 0px 15px 15px 15px ;
	position: fixed;
	top: 259px;
	left: 116px;
	border-width: 0px 0px 4px;
	background: #FFFFFF url("../images/boceto%20red-u1529-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1529:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 33px 8px rgba(255, 255, 255, 0.84);
	-webkit-box-shadow: 0px 0px 33px 8px rgba(255, 255, 255, 0.84);
	box-shadow: 0px 0px 33px 8px rgba(255, 255, 255, 0.84);
	width: 188px;
	height: 361px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/boceto%20red-u1529-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1522
{
	z-index: 21;
	width: 188px;
	height: 362px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: fixed;
	top: 259px;
	left: 375px;
	border-width: 0px 0px 3px;
	background: #FFFFFF url("../images/arkna%20updated-u1522-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1522:hover
{
	-pie-box-shadow: 0px 0px 35px 9px #FFFFFF;
	-moz-box-shadow: 0px 0px 35px 9px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 0px 35px 9px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 35px 9px rgba(255, 255, 255, 0.75);
	background-repeat: no-repeat;
	background-position: center center;
	width: 188px;
	height: 362px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u1530
{
	z-index: 23;
	width: 188px;
	height: 362px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 15px 0px 15px 15px ;
	-webkit-border-radius: 15px 0px 15px 15px ;
	-khtml-border-radius: 15px 0px 15px 15px ;
	border-radius: 15px 0px 15px 15px ;
	position: fixed;
	top: 259px;
	left: 631px;
	border-width: 0px 0px 3px;
	background: #FFFFFF url("../images/boceto%20mer-u1530-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1530:hover
{
	-pie-box-shadow: 0px 0px 45px 11px #FFFFFF;
	-moz-box-shadow: 0px 0px 45px 11px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 0px 45px 11px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 45px 11px rgba(255, 255, 255, 0.75);
	background-repeat: no-repeat;
	background-position: center center;
	width: 188px;
	height: 362px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#page .verticalspacer
{
	clear: both;
}

