.html
{
	background-color: #F3EAFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 730px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
}

#u1287
{
	z-index: 45;
	width: 1160px;
	border-color: #000000;
	position: relative;
	left: -100px;
	background: #FFFFFF url("../images/dani%20bajo%20el%20mar.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1287_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1348
{
	z-index: 77;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 122px;
}

#pu554-8
{
	width: 0.01px;
	margin-left: 210px;
	margin-top: 104px;
	position: relative;
}

#u554-8
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 265px;
}

#menuu1300
{
	z-index: 46;
	width: 500px;
	margin-left: 438px;
	top: -305px;
	margin-bottom: -22px;
	position: relative;
}

#u1315
{
	width: 98px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1317-4
{
	width: 98px;
	min-height: 22px;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u1340
{
	width: 98px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1342-4
{
	width: 98px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1341:hover #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1341:active #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1341:hover #u1342-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1341:active #u1342-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1308
{
	width: 98px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u1316,#u1341,#u1309
{
	width: 98px;
	position: relative;
}

#u1310-4
{
	width: 98px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1341.MuseMenuActive #u1342-4,#u1309:hover #u1310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1309:active #u1310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1309:hover #u1310-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1309:active #u1310-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1322
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u1327-4
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1309.MuseMenuActive #u1310-4,#u1325:hover #u1327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1325:active #u1327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1325:hover #u1327-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1325:active #u1327-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1301
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 401px;
}

#u1325,#u1302
{
	width: 99px;
	position: relative;
}

#u1304-4
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1325.MuseMenuActive #u1327-4,#u1302:hover #u1304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1302:active #u1304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1302:hover #u1304-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1302:active #u1304-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1341.MuseMenuActive #u1342-4 p,#u1309.MuseMenuActive #u1310-4 p,#u1325.MuseMenuActive #u1327-4 p,#u1302.MuseMenuActive #u1304-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu100
{
	width: 0.01px;
	left: -100px;
	margin-top: 167px;
	position: relative;
}

#u100
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u100_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 6px;
	padding-bottom: 31px;
}

#u102
{
	z-index: 3;
	width: 160px;
	height: 118px;
	left: 500px;
}

#u102:hover
{
	margin: 0px;
}

#menuu217
{
	z-index: 6;
	width: 500px;
	left: 330px;
	margin-top: 5px;
}

#u218
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u219
{
	width: 98px;
	padding-bottom: 12px;
}

#u102:active,#u219:hover
{
	margin: 0px;
}

#u219:active
{
	margin: 0px;
}

#u219.MuseMenuActive
{
	margin: 0px;
}

#u222-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1302.MuseMenuActive #u1304-4,#u219:hover #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u219:active #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u242
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 100px;
}

#u246-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
}

#u219.MuseMenuActive #u222-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u243:active #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u259
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 200px;
}

#u243,#u260
{
	width: 98px;
}

#u262-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
}

#u243.MuseMenuActive #u246-4,#u260:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u266
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 300px;
}

#u272-4
{
	width: 99px;
	min-height: 22px;
	margin-right: -10000px;
}

#u260.MuseMenuActive #u262-4,#u269:hover #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u269:active #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u273
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 401px;
}

#u269,#u274
{
	width: 99px;
}

#u275-4
{
	width: 99px;
	min-height: 22px;
	margin-right: -10000px;
}

#u269.MuseMenuActive #u272-4,#u274:hover #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u274:active #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u274.MuseMenuActive #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u119
{
	z-index: 4;
	width: 418px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 100px;
}

#u120
{
	z-index: 5;
	width: 418px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 642px;
}

#page .verticalspacer
{
	clear: both;
}

