.html
{
	background-color: #F3EAFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 916px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u121
{
	z-index: 37;
	width: 1160px;
	left: -100px;
}

#u121_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u145
{
	z-index: 38;
	width: 192px;
	margin-bottom: -13px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 132px;
}

#menuu283
{
	z-index: 40;
	width: 446px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 538px;
}

#u301
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u302
{
	width: 87px;
	padding-bottom: 12px;
}

#u302:hover
{
	margin: 0px;
}

#u302:active
{
	margin: 0px;
}

#u304-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u302:hover #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u302:active #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u308
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u309
{
	width: 87px;
	padding-bottom: 12px;
}

#u302.MuseMenuActive,#u309:hover
{
	margin: 0px;
}

#u311-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u302.MuseMenuActive #u304-4,#u309:hover #u311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u309:active #u311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u315
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 178px;
}

#u317-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
}

#u309.MuseMenuActive #u311-4,#u316:hover #u317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u316:active #u317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u284
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 268px;
}

#u290-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
}

#u316.MuseMenuActive #u317-4,#u287:hover #u290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u287:active #u290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u322
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 358px;
}

#u316,#u287,#u323
{
	width: 88px;
}

#u324-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
}

#u287.MuseMenuActive #u290-4,#u323:hover #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u323:active #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu608
{
	z-index: 71;
	width: 0.01px;
	height: 541px;
	margin-left: 164px;
	margin-top: 55px;
	position: relative;
}

#u618
{
	z-index: 72;
	width: 621px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
}

#u657
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background: #FFFFFF url("../images/cover%20with%20titles-u657-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u657:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/cover%20with%20titles-u657-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u657:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/cover%20with%20titles-u657-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u657.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/cover%20with%20titles-u657-a-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u664
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 70px;
	background: #FFFFFF url("../images/cort%20bandel-u664-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u664:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/cort%20bandel-u664-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u664:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/cort%20bandel-u664-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u664.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/cort%20bandel-u664-a-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u666
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 140px;
	background: #FFFFFF url("../images/portada1-1-u666-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u666:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/portada1-1-u666-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u666:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/portada1-1-u666-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u666.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/dany%20and%20sara%20-u666-a-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u668
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 210px;
	background: #FFFFFF url("../images/dakimakura%20sara%20-u668-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u668:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/dakimakura%20sara%20-u668-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u668:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/dakimakura%20sara%20-u668-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u668.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/dakimakura%20sara%20-u668-a-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u670
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 280px;
	background: #FFFFFF url("../images/fea-u670-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u670:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/fea-u670-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u670:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/fea-u670-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u670.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/fea-u670-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u756
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 350px;
	background: #FFFFFF url("../images/poe-u756-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u756:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/poe-u756-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u756:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/poe-u756-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u756.PamphletThumbSelected
{
	border-color: #C4C4C4;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/poe-u756-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u758
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 420px;
	background: #FFFFFF url("../images/linda%20coloreada-u758-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u758:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/linda%20coloreada-u758-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u758:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/linda%20coloreada-u758-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u758.PamphletThumbSelected
{
	border-color: #C4C4C4;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/linda%20coloreada-u758-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u784
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 490px;
	background: #FFFFFF url("../images/halloween-u784-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u784:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/halloween-u784-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u784:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/halloween-u784-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u784.PamphletThumbSelected
{
	border-color: #C4C4C4;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/halloween-u784-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u795
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 560px;
	background: #FFFFFF url("../images/lyna%20and%20daniel%20sketch-u795-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u795:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/lyna%20and%20daniel%20sketch-u795-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u795:active
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/lyna%20and%20daniel%20sketch-u795-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u795.PamphletThumbSelected
{
	border-color: #C4C4C4;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/lyna%20and%20daniel%20sketch-u795-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u625
{
	position: absolute;
	width: 642px;
}

#u625popup
{
	z-index: 82;
}

#u659
{
	z-index: 83;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/cover%20with%20titles-u659-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u665
{
	z-index: 84;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/cort%20bandel-u665-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u667
{
	z-index: 85;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/dany%20and%20sara%20-u667-fr.jpg") no-repeat center top;
	background-size: contain !important;
}

#u669
{
	z-index: 86;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/dakimakura%20sara%20-u669-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u671
{
	z-index: 87;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/fea-u671-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u757
{
	z-index: 88;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/poe-u757-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u759
{
	z-index: 89;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/linda%20coloreada-u759-fr.jpg") no-repeat center top;
	background-size: contain !important;
}

#u785
{
	z-index: 90;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/halloween-u785-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u796
{
	z-index: 91;
	width: 642px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/lyna%20and%20daniel%20sketch-u796-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu100
{
	width: 0.01px;
	left: -100px;
	margin-top: 31px;
	position: relative;
}

#u100
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u100_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 6px;
	padding-bottom: 31px;
}

#u102
{
	z-index: 3;
	width: 160px;
	height: 118px;
	left: 500px;
}

#u309.MuseMenuActive,#u102:hover
{
	margin: 0px;
}

#menuu217
{
	z-index: 6;
	width: 500px;
	left: 330px;
	margin-top: 5px;
}

#u218
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u219
{
	width: 98px;
	padding-bottom: 12px;
}

#u102:active,#u219:hover
{
	margin: 0px;
}

#u219:active
{
	margin: 0px;
}

#u219.MuseMenuActive
{
	margin: 0px;
}

#u222-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u323.MuseMenuActive #u324-4,#u219:hover #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u219:active #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u242
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 100px;
}

#u246-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
}

#u219.MuseMenuActive #u222-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u243:active #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u259
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 200px;
}

#u243,#u260
{
	width: 98px;
}

#u262-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
}

#u243.MuseMenuActive #u246-4,#u260:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u266
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 300px;
}

#u272-4
{
	width: 99px;
	min-height: 22px;
	margin-right: -10000px;
}

#u260.MuseMenuActive #u262-4,#u269:hover #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u269:active #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u273
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
	top: 6px;
	left: 401px;
}

#u269,#u274
{
	width: 99px;
}

#u275-4
{
	width: 99px;
	min-height: 22px;
	margin-right: -10000px;
}

#u269.MuseMenuActive #u272-4,#u274:hover #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u274:active #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u274.MuseMenuActive #u275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u119
{
	z-index: 4;
	width: 418px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 100px;
}

#u120
{
	z-index: 5;
	width: 418px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 642px;
}

#page .verticalspacer
{
	clear: both;
}

