#u1455-3
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url("../images/oceano-u1455-3-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/oceano.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover !important;
}

#u1363,#u1456
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
}

#u1458
{
	position: relative;
	background: transparent url("../images/boton%201-normal260x260.png") no-repeat left top;
	background-size: contain !important;
}

#u1458:hover
{
	background: transparent url("../images/boton%201-sobre260x260.png") no-repeat left top;
	background-size: contain !important;
}

#u1470
{
	position: relative;
	background: transparent url("../images/boton%202-normal277x277.png") no-repeat left top;
	background-size: contain !important;
}

#u1482
{
	position: relative;
	background: transparent url("../images/boton%202-normal277x277.png") no-repeat left top;
	background-size: contain !important;
}

#u1470:hover,#u1482:hover
{
	background: transparent url("../images/boton%202-sobre277x277.png") no-repeat left top;
	background-size: contain !important;
}

#u1483
{
	position: relative;
	background: transparent url("../images/boton%203-capa%201273x273.png") no-repeat left top;
	background-size: contain !important;
}

#u1483:hover
{
	background: transparent url("../images/boton%203-capa%201%20copia273x273.png") no-repeat left top;
	background-size: contain !important;
}

#u1495
{
	position: relative;
	background: transparent url("../images/boton%204-capa%202285x285.png") no-repeat left top;
	background-size: contain !important;
}

#u1495:hover
{
	background: transparent url("../images/boton%204-capa%202%20copia285x285.png") no-repeat left top;
	background-size: contain !important;
}

#u1410
{
	vertical-align: top;
	background: url("../images/u1410.png") no-repeat 0px 0px;
	position: relative;
}

#u1409:hover #u1410
{
	background: url("../images/u1410-r.png") no-repeat 0px 0px;
}

#u1403
{
	vertical-align: top;
	background: url("../images/u1403.png") no-repeat 0px 0px;
	position: relative;
}

#u1400:hover #u1403
{
	background: url("../images/u1403-r.png") no-repeat 0px 0px;
}

#u1427
{
	vertical-align: top;
	background: url("../images/u1427.png") no-repeat 0px 0px;
	position: relative;
}

#u1424:hover #u1427
{
	background: url("../images/u1427-r.png") no-repeat 0px 0px;
}

#u1432
{
	vertical-align: top;
	background: url("../images/u1432.png") no-repeat 0px 0px;
	position: relative;
}

#u1431:hover #u1432
{
	background: url("../images/u1432-r.png") no-repeat 0px 0px;
}

#u1448,#u1561,#menuu1381,#u1406,#u1409,#u1399,#u1400,#u1423,#u1424,#u1430,#u1431,#u1437,#u1440
{
	position: relative;
}

#u1441
{
	vertical-align: top;
	background: url("../images/u1441.png") no-repeat 0px 0px;
	position: relative;
}

#u1440:hover #u1441
{
	background: url("../images/u1441-r.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

