#u100
{
	border-color: #000000;
	background-color: #7D77C5;
	position: relative;
}

#u102
{
	position: relative;
	background: transparent url("../images/boton%20descarga.png") no-repeat left top;
	background-size: contain !important;
}

#u102:hover
{
	background: transparent url("../images/boton%20descarga2.png") no-repeat left top;
	background-size: contain !important;
}

#u102:active
{
	background: transparent url("../images/boton%20descarga3.png") no-repeat left top;
	background-size: contain !important;
}

#u219
{
	background-color: transparent;
	position: relative;
}

#u222-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u219:hover #u222-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u219:active #u222-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u246-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u243:hover #u246-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u243:active #u246-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u262-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u260:hover #u262-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u260:active #u262-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u272-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u269:hover #u272-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u269:active #u272-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u100_align_to_page,#menuu217,#u218,#u242,#u243,#u259,#u260,#u266,#u269,#u273,#u274
{
	position: relative;
}

#u275-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u274:hover #u275-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u274:active #u275-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u219.MuseMenuActive #u222-4 p,#u243.MuseMenuActive #u246-4 p,#u260.MuseMenuActive #u262-4 p,#u269.MuseMenuActive #u272-4 p,#u274.MuseMenuActive #u275-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u119,#u120
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 2px 0px 0px;
}

